<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/memorySingle.css">

</head>
<body>
    <div class="wrapper">
        <%- include("../partials/nav.ejs") %>

        <div class="inside-wrapper">
            <div class="single-mem">
                    <div class="top-flex">
                        <p class="date"><%= memory.createdAt.toLocaleDateString() %></p>
                        <p class="delete"><a data-doc="/memories/<%= memory._id %>" class="del">Delete</a></p>
                    </div>  
                    <h3 class="name"><%= memory.name %></h3>
                    <p class="content"><%= memory.content %></p>
                    <div class="top-flex-end">
                        <div class="relive-div">
                            <h4 class="relive-head">Would you like to relive this moment?</h4>
                            <p class="relive"><%= memory.relive %></p>
                        </div>
                        <div class="rate-div">
                            <h4 class="rate-head">You Rated</h4>
                            <p class="rate"><%= memory.rate %>/10</p>
                        </div>
                    </div>  
            </div>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>
    <script>
        const del = document.querySelector(".del");
        console.log(del.dataset.doc)
        
        del.addEventListener("click", () => {

            const endpoint = `${del.dataset.doc}`;

            fetch(endpoint , {
                method: "DELETE"
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>
</body>
</html>